.cab-trips{

background:#fff;

padding:26px;

border-radius:20px;

box-shadow:
0 6px 20px rgba(0,0,0,.05);

margin-top:20px;
}


/* TABS */

.cab-tabs{

display:flex;

gap:30px;

margin-bottom:24px;

border-bottom:
1px solid #edf1f7;
}

.cab-tabs button{

border:none;

background:none;

padding-bottom:14px;
cursor:pointer;

transition:.2s;

font-size:14px;

font-weight:600;

color:#96a1b4;

cursor:pointer;
}
.cab-tabs button:hover
{
    color:#4568ff;
}
.cab-tabs .active{

color:#4568ff;

border-bottom:
3px solid #4568ff;
}



/* TABLE */

.cab-trip-table{

width:100%;

border-collapse:collapse;
}

.cab-trip-table th{

text-align:left;

padding-bottom:20px;

font-size:14px;

color:#778399;
}

.cab-trip-table td{

padding:18px 0;

font-size:14px;

color:#24324a;

border-top:
1px solid #f3f5f9;
}



/* STATUS */

.status{

padding:8px 14px;

border-radius:20px;

font-size:12px;

font-weight:600;
}

.completed{

background:#e8fff0;

color:#2bb65f;
}

.upcoming{

background:#fff2de;

color:#ff9800;
}

.cancelled{

background:#ffe8ea;

color:#ff5252;
}



/* RESPONSIVE */

@media(max-width:900px){

.cab-tabs{

overflow:auto;
}

.cab-trip-table{

display:block;

overflow-x:auto;
}

}