/* MAIN */

.cab-profile{

width:100%;

height:100%;

display:grid;

grid-template-columns:
300px 1fr;

gap:24px;

align-items:stretch;
}


/* LEFT */

.cab-profile-left{

display:flex;

flex-direction:column;

gap:24px;

height:100%;
}


/* USER CARD */

.cab-user-card{

background:#fff;

padding:32px;

border-radius:20px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

box-shadow:
0 8px 24px rgba(0,0,0,.05);

flex:2;
}


.cab-user-image{

position:relative;

width:110px;

height:110px;

margin-bottom:20px;
}


.cab-user-image img{

width:100%;

height:100%;

border-radius:50%;

object-fit:cover;
}


.cab-user-image button{

position:absolute;

bottom:4px;

right:0;

width:32px;

height:32px;

border:none;

border-radius:50%;

background:#4568ff;

color:white;

cursor:pointer;
}


.cab-user-card h3{

font-size:26px;

color:#1d2846;

margin-bottom:10px;
}


.cab-user-card p{

color:#8390a5;

margin-bottom:8px;
}


.cab-user-card span{

color:#97a2b2;
}


/* STATS */

.cab-profile-stats{

background:#fff;

padding:28px;

border-radius:20px;

box-shadow:
0 8px 24px rgba(0,0,0,.05);

flex:1;

display:flex;

flex-direction:column;

justify-content:center;

gap:28px;
}


.cab-stat{

display:flex;

align-items:center;

gap:16px;
}


.cab-stat span{

font-size:28px;
}



/* RIGHT */

.cab-profile-right{

display:flex;

flex-direction:column;

gap:24px;

height:100%;
}


/* INFO */

.cab-info{

background:#fff;

padding:32px;

border-radius:20px;

box-shadow:
0 8px 24px rgba(0,0,0,.05);

flex:2;
}


.cab-title{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;
}


.cab-title h3{

font-size:24px;

color:#1b2745;
}


.cab-title button{

border:none;

padding:10px 16px;

background:#eef3ff;

color:#4568ff;

border-radius:12px;

cursor:pointer;
}


.cab-row{

display:flex;

justify-content:space-between;

padding:22px 0;

border-bottom:
1px solid #edf1f7;
}


.cab-row:last-child{

border-bottom:none;
}


.cab-row span{

color:#8b95a7;
}


.cab-row strong{

max-width:60%;

text-align:right;

color:#22314d;
}



/* SECURITY */

.cab-security{

background:#fff;

padding:30px;

border-radius:20px;

box-shadow:
0 8px 24px rgba(0,0,0,.05);

flex:1;
}


.cab-security h3{

margin-bottom:20px;
}


.cab-security-box{

display:flex;

justify-content:space-between;

align-items:center;
}



/* MOBILE */

@media(max-width:900px){

.cab-profile{

grid-template-columns:1fr;

}

.cab-row{

flex-direction:column;

gap:8px;
}

}