* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Admin-dashboard {
  background-color:rgb(255, 255, 255);
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
}
.Admin-sidebar {
  background-color:rgb(20, 107, 179);
  width: 20%;
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 15px;
  gap: 10px;
}
.Admin-content {
  width: 80%;
  height: calc(100vh - 20px);
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.Admin-siderbar-1 {
  width: 100%;
  flex: 0.5;
  padding: 18px 22px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  background: linear-gradient(135deg, #9ba2b4, #1e293b);
  border-radius: 18px;
  box-shadow: 0 4px 20px rgba(228, 3, 3, 0.15);
}

.Admin-head {
  display: flex;
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
}

.Admin-head h1 {
  margin: 0;
  color: rgb(160, 185, 197);
  font: 25px;
  text-decoration:double;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;

  letter-spacing: 1px;
}

.head-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.head-content h2 {
  margin: 0;

  color: #ffffff;

  font-size: 28px;
  font-weight: 700;

  letter-spacing: 0.5px;
  line-height: 1;
}

.head-content p {
  margin: 0;

  color: #cbd5e1;

  font-size: 14px;
  font-weight: 400;

  letter-spacing: 0.4px;
  line-height: 1.2;
}

.Admin-siderbar-2 {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius:15px ;
  flex: 3;
  gap: 15px;
  padding: 40px 0;
  width: 100%;
}

.Admin-logout{

  margin-top:auto;

  width:100%;

  display:flex;

  justify-content:center;

  padding-bottom:20px;
}

.Admin-logout button{

  width:90%;   /* same width as menu buttons */

  height:55px;

  border:none;

  border-radius:10px;

  background:#ff0000;

  color:rgb(228, 207, 207);

  font-size:18px;

  font-weight:600;

  cursor:pointer;
}
